@import 'base/variables';

.profile {
  @include container;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mq(md) {
    display: block;
  }
  
  &__details {
    line-height: 1.75;
    max-width: 40%;
    @include mq(md) {
      max-width: $max-content-width;
      text-align: center;
    }
  }
  
  &__title {
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-family: 'Osaka';
    line-height: 1.25;
    color: var(--c-red);
    @include mq(lg){
      font-size: 2.5rem;
    }
    @include mq(sm) {
      font-size: 2rem;
    }
    &--spbr {
      display: none;
      @include mq(sm) {
        display: block;
      }
    }
  };
  
  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    @include mq(md) {
      justify-content: center;
    }
  }

  &__icon {
    margin-left: 1rem;
    &:first-of-type {
      margin-left:0;
    }
  }
}