@import 'base/variables';

.main {
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  @include container;
}

.section-header {
  padding: 5rem 0;
  border-bottom: var(--c-primary-darker) 1px solid;

  &__title {
    text-align: center;
    font-size: 3rem;
    color: var(--c-green);
    font-weight: 200;
  }
}


.posts {
  &__list {
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.6rem;
    column-gap: 1.6rem;
    grid-row-gap: 3rem;
    row-gap: 3rem;
    
    @include mq(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mq(md) {
      display: grid;
      grid-template-columns: minmax(auto, 100%);
    }

    @include mq(sm) {
      padding: 0 4%;
    }
  }
}