@import 'base/variables';

.main {
  margin: 0 auto;
  padding: 5rem 0;
  min-height: 100vh;
}

.container {
  @include container;
}


.posts {
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--c-green);
  }

  &__list {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    column-gap: 2rem;
    grid-row-gap: 3rem;
    row-gap: 3rem;
    
    @include mq(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mq(md) {
      display: grid;
      grid-template-columns: minmax(auto, 100%);
    }

    @include mq(sm) {
      padding: 0 4%;
    }
  }
}