@import 'base/variables';

.main {
  margin: 0 auto;
  min-height: 100vh;
}

.container {
  @include container;
}

.posts {
  &__list {
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.6rem;
    column-gap: 1.6rem;
    grid-row-gap: 3rem;
    row-gap: 3rem;
    
    @include mq(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mq(md) {
      display: grid;
      grid-template-columns: minmax(auto, 100%);
    }
  }
}