:root {
  --c-body : #f4e2ca;
  --c-primary: #FDF5F2;
  --c-primary-darker: #d7d0ce;
  --c-primary-lighter: #ffffff;
  --c-red: #db6565;
  --c-red-darker: #ba5656;
  --c-red-lighter: #fc7474;
  --c-green: #6daaa8;
  --c-navy: #2e4c5f;
  --c-black: #000;
  --c-gray: #555;
  --c-text-p: #000;
  --c-text-h: #555;
  --c-text-code: #fff;
  --c-bg-code: #2E4C5F;
  --c-text-hr: #555;
  --c-text-h-border: #000;
  --c-text-h-bg: #2E4C5F;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background-color: var(--c-primary);
}

body {
  word-break: normal;
  word-wrap: anywhere;
  line-break: strict;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
