@import 'base/variables';

.header {
  position: relative;
  width: 100vw;
}
.grobal-nav {
  padding: 2rem 0;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 50px;
  }

  &__logo {
    left: 50%;
    top: 50%;
    margin:0;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Damion', cursive;
    font-size: 2.4em;
    color: var(--c-red);
    text-shadow: var(--c-red-darker) 1px 1px .1em;
    
    &--link {
      display: block;
    }
  }
}