@import 'base/variables';
@import 'base/post-body';

.content {
  margin: 0 auto;
  // border-radius: 0.5rem;
  overflow: hidden;

  &__head {
    // background: var(--c-text-h-bg);
    color: var(--c-text-h-bg);
    // color: var(--c-primary);
    padding: 2rem 0;
    text-align: center;
    @include shadow-bumps;
  }
  
  &__eyecatch-wrapper {
    position: relative;
    max-width: 640px;
    margin: 4rem auto 0;
    &::before {
      content: '';
      display: block;
      padding-top: 62.25%;
    }
  }
  
  &__eyecatch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // &__head, 
  
  
  &__title {
    font-size: 2.2em;
    line-height: 1.5;
    font-weight: 400;
    max-width: 640px;
    margin: 0 auto;
  }
  
  &__date {
    margin-top: 1em;
    font-size: 1em;
  }
  
  &__body {
    max-width: 640px;
    margin: 0 auto ;
    @include post-body;
    padding: 2rem 0;
  }
}