@import 'base/variables';
@import 'base/post-body';

.content {
  max-width: 640px;
  margin: 0 auto;
  padding:3rem 0;

  &__title {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 600;
  }
  
  &__date {
    font-size: 1rem;
    color: var(--c-text-h);
    margin-top:0.5rem;
  }
  
  &__eyecatch {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__body {
    @include post-body;
    padding: 2rem 0;
  }
}