@mixin post-body {
  line-height: 2;
  &>* {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  h3,h4,h5,h6 {
    line-height: 1.25;
    margin-block-start: 2em;
    margin-block-end: 1em;
    font-weight: 600;
    color: var(--c-text-h-bg);
    font-family: "Osaka-Mono", "Hiragino Maru Gothic ProN";
  }
  h3 {
    font-size: 2em;
    font-weight: 400;
    padding: 0.2em;
    border-bottom: 2px var(--c-red) solid;
    color: var(--c-red);
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
  p {
    font-size: 1em;
    :first-child {
      margin-top: 0;
    }
    code {
      padding: .1em .2em;
      background: var(--c-primary-darker);
      border-radius: 4px;
    }
  }
  pre {
    padding: 1em;
    white-space: pre;
    border-radius: 4px;
    line-height: 1.5;
    background: var(--c-bg-code);
    color: var(--c-text-code);
    overflow-x: auto;
    font-size: 0.8em;
  }
  hr {
    color: var(--c-text-hr);
  }
  ul, ol {
    padding-left: 1.5em;
    p {
      margin: 0;
    }
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;

  }
}