@mixin post-body {
  line-height: 1.5;
  margin-top: 1.5rem;
  h2 {
    font-size: 2rem;
    margin: 2rem 0 1.5rem;
    // color: var(--c-text-h);
  }
  h3 {
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem;
  }
  p {
    font-size: 1rem;
    :first-child {
      margin-top: 0;
    }
  }
  code {
    white-space: pre;
  }
}