$header-height: 50px;
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin drop-shadow($size:30px) {
  $p: ($size * 0.3);
  background: var(--c-primary);
  box-shadow:  $p $p $size var(--c-primary-darker),
              (-$p) (-$p) $size var(--c-primary-lighter);
}
@mixin shadow-dent($size:30px) {
  $p: ($size * 0.3);
  background: var(--c-primary);
  box-shadow: inset $p $p $size var(--c-primary-darker),
              inset (-$p) (-$p) $size var(--c-primary-lighter);
}


@mixin container() {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  max-width: #{map-get($breakpoints, 'lg')};

  @include mq('lg') {
    max-width: #{map-get($breakpoints, 'md')};
  }
  @include mq('md') {
    max-width: #{map-get($breakpoints, 'sm')};
  }
}