$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);
$max-content-width: 640px;

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin shadow-bumps($distance: 5px) {
  background: var(--c-primary);
  box-shadow:  $distance $distance ($distance * 2) var(--c-primary-darker),
              (-$distance) (-$distance) ($distance * 2) var(--c-primary-lighter),
              inset $distance $distance ($distance * 2) transparent,
              inset (-$distance) (-$distance) ($distance * 2) transparent;
}
@mixin shadow-dent($distance: 5px) {
  background: var(--c-primary);
  box-shadow: $distance $distance ($distance * 2) transparent,
              (-$distance) (-$distance) ($distance * 2) transparent,
              inset $distance $distance ($distance * 2) var(--c-primary-darker),
              inset (-$distance) (-$distance) ($distance * 2) var(--c-primary-lighter);
}
@mixin shadow-transition() {
  transition: box-shadow ease-in-out 0.2s;
}

@mixin container() {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 1120px;

  @include mq('lg') {
    max-width: 960px;
  }
  @include mq('md') {
    max-width: 576px;
  }
}